body {
    background-image: url("dog.jpg");
    width: 500px;
    height: 500px;
    background-repeat:repeat;

}

.wrapper {
    background-color: antiquewhite;
    border: #8B0000 solid 10px;
    border-radius: 20px;
    display: grid;
    width: 60%;
    margin: auto;
    text-align: center;
    align-items: center;
}


.container:hover{
    transform: translate3d(0px, 0px, -250px)
    translate(10%, 0%)
    scale(0.8, 0.8);}


h1{
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 20px;
    background-color: #ff0000;
    background-image: linear-gradient(45deg, #f3ec78,#ff0000);

  
}


.roll{
    display: flex;
    justify-content: center;
    border-radius: 50px;

}
.demo-image {
    display: block;
  }

.dice-area {
margin: 0px 50px;
text-align: center;
display: inline-block;
justify-content: center;

}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    background-color: #ff0000;
    background-image: linear-gradient(45deg, #f3ec78,#ff0000);
}

img{
    width:100px;
    height: 100px;
  
 
}

.img {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translated(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translated(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .roll:focus {
    animation-name: shake;
    animation-duration: 4s infinite;
  }

  .button-box{
    display: flex;
    justify-content: center;
    
  }